<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ทิ้งถังไหน</title>
    <link rel="stylesheet" type="text/css" href="/static/styletry.css?v=3">

</head>

<body>

    <!-- หน้าแรกที่มี banner และ bintype -->
    <!-- ส่วนหน้าปก -->
    <div class="banner" id="banner">
        <div class="banner-content">
            <h1>ขยะชิ้นนี้</h1>
            <h1><mark>ทิ้งถังไหน?</mark></h1>
            <p>การทิ้งขยะลงถังให้ถูกสีและถูกประเภทสามารถช่วยโลกได้มากกว่าที่คุณคิด
                มาร่วมกันสร้างโลกแห่งความยั่งยืนไปกับเรา</p>
            <!-- ปุ่มไปหน้าแอป -->
            <div class="cta-buttons">
                <div class="onboarding" id="onboarding">
                    <div class="onboarding-content">
                        <button class="cta-btn" id="goFindItBtn">เริ่มใช้งาน</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ส่วนบอกประเภทถังขยะตามสี -->
    <div class="bint" id="bintype">
        <h2>ประเภทของถังขยะ</h2>
        <p>ในปัจจุบันประเทศไทยได้มีการจำแนกประเภทของถังขยะเป็น 4 ประเภท ตามลักษณะของขยะ
            และเพื่อให้ง่ายต่อการจดจำจึงได้แบ่งแต่ละประเภทเป็นสี ดังนี้</p>
        <!-- ส่วนของถังขยะ โดยแต่ละอันจะมีรูปและเนื้อหาของถังขยะสีนั้นๆ -->
        <div class="container" id="concard">
            <!-- ถังขยะสีเขียว -->
            <div class="card">
                <img src="/images/bin1.jpg" alt="Bin 1">
                <h2 style="color: green;">ถังขยะเปียก</h2>
                <p>ถังขยะสีเขียว สำหรับทิ้งขยะอินทรีย์ที่เน่าเสียและย่อยสลายได้เร็ว เช่น เศษอาหาร เปลือกผลไม้
                    เศษใบไม้แห้ง สามารถนำไปทำปุ๋ยหมักชีวภาพได้
                </p>
            </div>
            <!-- ถังขยะสีเหลือง -->
            <div class="card">
                <img src="/images/bin2.jpg" alt="Bin 2">
                <h2 style="color: rgb(255, 166, 0);">ถังขยะรีไซเคิล</h2>
                <p>ถังขยะสีเหลือง สำหรับทิ้งขยะรีไซเคิลหรือขยะที่สามารถนำกลับมาใช้ซ้ำอีกครั้งได้ เช่น ขวดพลาสติก
                    กระป๋อง กล่องกระดาษ กระดาษ เป็นต้น
                </p>
            </div>
            <!-- ถังขยะสีแดง -->
            <div class="card">
                <img src="/images/bin3.jpg" alt="Bin 3">
                <h2 style="color: rgb(239, 80, 36);">ถังขยะอันตราย</h2>
                <p>ถังขยะสีแดง สำหรับทิ้งขยะอันตรายที่มีสารปนเปื้อนวัตถุอันตรายชนิดต่าง ๆ เช่น ถ่านไฟฉาย
                    อุปกรณ์อิเล็กทรอนิกส์ ยาหมดอายุ วัตถุไวไฟ กระป๋อง สเปรย์ เป็นต้น
                </p>
            </div>
            <!-- ถังขยะสีน้ำเงิน -->
            <div class="card">
                <img src="/images/bin4.jpg" alt="Bin 4">
                <h2 style="color: rgb(58, 97, 254);">ถังขยะทั่วไป</h2>
                <p>ถังขยะสีน้ำเงิน สำหรับทิ้งขยะทั่วไปที่มักจะย่อยสลายไม่ได้หรือย่อยสลายยากแต่ไม่เป็นพิษ
                    จำเป็นต้องหาวิธีกำจัดอย่างถูกวิธี เช่น ซองขนม กล่องโฟม ถุงพลาสติก เป็นต้น
                </p>
            </div>
        </div>
    </div>

    <!-- ส่วน Application -->
    <!-- หน้าสำหรับถ่ายภาพ -->
    <div class="centered-container" id="appzone">
        <h2>ขยะของคุณควรทิ้งลงถังไหน</h2>
    </div>
    <button id="how-to-btn" class="how-to-btn">ดูวิธีการใช้งาน</button>

    <!-- Modal สำหรับแสดงวิธีการใช้งาน -->
    <div id="howToModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>วิธีการใช้งาน</h2>
            <p>
                1. เลือกว่าจะถ่ายรูปหรืออัพโหลดรูปภาพ <br><br>
                2. หากเลือกถ่ายรูปต้องอนุญาตให้ใช้กล้อง <br><br>
                3. หากเลือกอัพโหลดรูปภาพควรใช้รูปภาพที่มีขนาดมากกว่า 256x256 pixels เพื่อความแม่นยำ<br><br>
                4. แสดงผลขยะได้เพียงครั้งละชนิด ควรให้ขยะในภาพชัดเจนและมีชนิดเดียวเพื่อความแม่นยำ<br><br>
                4. จัดการขยะตามผลลัพธ์ที่ได้ <br><br>
                5. กดปุ่ม (X) เพื่อลบภาพเดิม แล้วเริ่มใช้งานใหม่
            </p>
        </div>
    </div>

    <div class="home" id="home">
        <div class="left">
            <div class="head-photo">ใส่ภาพขยะของคุณ</div>
            <div class="no-head">
                <div class="button-container">
                    <button class="camera-btn selected" id="takePhoto">ถ่ายภาพ</button>
                    <button class="camera-btn" id="uploadPhoto">อัพโหลดภาพ</button>
                </div>
                <div class="image-container">
                    <video id="video" autoplay></video>
                    <canvas id="canvas" style="display: none;"></canvas>
                    <img id="captured-img" alt="Captured or Uploaded Image" style="display:none;">
                    <button id="clear-btn" class="clear-btn" style="display: none;">X</button>
                </div>
                <button id="capture-btn" class="circle-btn">📷</button>
            </div>
        </div>
        <div class="right">
            <div class="head-photo2">ผลลัพธ์</div>
            <div class="result-section">
                <div class="bin-img" id="bin-images"></div>
                <div class="bin-color" id="bin_color"></div>
                <div class="result" id="result"></div>
                <div class="detail" id="disposal_method"></div>
            </div>
        </div>
    </div>

    <!-- หน้าสำหรับอัพโหลดภาพ -->
    <div class="home" id="home2" style="display:none;">
        <div class="left">
            <div class="head-photo">ใส่ภาพขยะของคุณ</div>
            <div class="button-container">
                <button class="camera-btn" id="takePhoto2">ถ่ายภาพ</button>
                <button class="camera-btn selected" id="uploadPhoto2">อัพโหลดภาพ</button>
            </div>
            <div class="image-container">
                <label for="upload-btn" class="upload-btn-label">
                    เลือกรูปภาพ
                    <input type="file" id="upload-btn" accept="image/*">
                </label>
                <img id="uploaded-img" alt="Uploaded Image" style="display:none;">
                <button id="clear-btn-upload" class="clear-btn" style="display: none;">X</button>
            </div>
        </div>
        <div class="right">
            <div class="head-photo2">ผลลัพธ์</div>
            <div class="result-section">
                <div class="bin-img" id="bin-images2"></div>
                <div class="bin-color" id="bin_color2"></div>
                <div class="result" id="result2"></div>
                <div class="detail" id="disposal_method2"></div>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-container">
            <!-- ส่วน footer ด้านซ้าย -->
            <div class="footer-left">
                <h1>ทิ้งถังไหน</h1>
                <p>เราคือเว็บไซต์ที่จะช่วยคุณให้คุณสามารถรักษ์โลกได้ง่ายขึ้น เพียงแค่ใช้เว็บไซต์ของเราในการช่วยจัดการขยะ คุณก็จะสามารถเป็นส่วนหนึ่งของการช่วยโลกได้แล้ว
                    เริ่มที่คุณ เริ่มตั้งแต่วันนี้ เราจะช่วยให้คุณจัดการขยะได้ง่ายขึ้นเอง
                </p>
            </div>
            <!-- ส่วน footer ด้านขวา -->
            <div class="footer-right">
                <h2>Contact Us</h2>
                <!-- เชื่อมกับ Instagram และ Email -->
                <a href="https://www.instagram.com/nanaxshii" target="_blank" class="contact-link">
                    <img src="https://img.icons8.com/win10/512/FFFFFF/instagram-new.png" alt="Instagram" class="icon">
                    <p>nanaxshii</p>
                </a>
                <a href="mailto:65070054@kmitl.ac.th" class="contact-link">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXmTSdwx7aEKX5HoBTvAlYubZ9bIOpysS0gA&s" alt="Email" class="icon">
                    <p>65070054@kmitl.ac.th</p>
                </a>
                <a href="https://www.instagram.com/npacefeb" target="_blank" class="contact-link">
                    <img src="https://img.icons8.com/win10/512/FFFFFF/instagram-new.png" alt="Instagram" class="icon">
                    <p>npacefeb</p>
                </a>
                <a href="mailto:65070085@kmitl.ac.th" class="contact-link">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXmTSdwx7aEKX5HoBTvAlYubZ9bIOpysS0gA&s" alt="Email" class="icon">
                    <p>65070085@kmitl.ac.th</p>
                </a>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; Copyright ทิ้งถังไหน 2024 | Thank You</p>
        </div>
    </footer>
    <script src="/static/scripttry.js?v=7"></script>
</body>

</html>